html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image:url(http://i.imgur.com/INvgDlF.jpg);    
}

header{
    background-color:darkred;
    margin: 0;
    padding: 0;
    width:100%;
    height:250px;
}
header img{
    margin-left: 10px;
    float:left;
}
nav{
    padding-top: 100px;
    width: 80%;
    height: 105px;
    font-size: 15px;
    text-align: center;
    
}

nav ul{
    margin:0 auto;
    padding:0;
    width:100%;
    height:100px;
    list-style: none;
}

nav>ul>li{
    margin: 0;
    padding:0;
    width: calc(100%/6);
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    
}
main{
    margin: 0 auto;
    padding: 0;
    width:60%;
    height:650px;
}
main>section>img{
    margin: 0;
    padding: 0;
   

    
    
    
}
div{
    display:inline-block;
    margin: 0;
    padding: 0;
    color: palegoldenrod;
    float: right;
    border: solid 10px;
    font-size: 16px;
    
}
#section2{
    background-color: white;
    display: block;
    border:solid 10px;
    border-radius: 5%;
    color: red;
    margin: 10px;
    height:1000px; 
    padding: 0;
    width: 75%;
    margin-left: 160px;
    
    
    
     
}
#sec2ul{
    font-size: 20px
}
#section2_img{
    border-radius: 95px;
    margin: 50px
    
}
button{
    float: right;
    font-size: 25px;
    border: dotted ;
    border-radius: 15px;
    
    
}
footer{
    height:85px; 
    margin-top:70rem;
    border: solid 5px;
    color: azure;
    background-color: blue
    
}
#credimg{
    float: right
}
